@charset "UTF-8";
@import url(jura-font.css);

/* Style CSS pour La Brique Internet.
* Code vite-fait par alex/nah
* Licence : WTFPL version 2
*/

body {
  background-color: #000;
  padding: 1.4em 1.4em 0.5em;
  color: #fff;
  font-family: jurabook;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.2em;
  max-width: 64em;
  margin: auto;
}

strong, b {
  color: #fff;
  font-weight: 400;
}

em, i {
  font-style: italic;
}

h1, h2 {
  font-weight: 300;
  line-height: 1em;
  margin: 0 0 1em;
}

h2 {
  font-size: 1.75em;
  line-height: 1.5em;
  margin: 1em 0 0;
}

h2 span {
  color: #ff3c3c;
}

/* responsive medias */
img,
video {
  max-width: 100%;
  height: auto;
}


a,
a:link,
a:visited {
  text-decoration: underline;
  color: #fff;
}

a:hover,
a:focus {
  color: #ff3c3c;
  text-decoration: none;
}

/**     Header      **/

#haut-gauche,
#haut-droite {
  font-size: 2em;
  padding: 0 1em;
}

#haut-droite {
  float: right;
}
@media screen and (max-width: 768px) {
  #haut-gauche,
  #haut-droite {
    font-size: 1.6em;
    padding: 0 0 0.5em 0;
  }
  #haut-droite {
    float: none;
  }
}


#banniere {
  text-align: center;
  padding-top: 4em;
}

#banniere h1 {
  margin: 0;
}

#banniere .banTexte {
  font-size: 5em;
  letter-spacing: 2px;
  padding: 0.1em 0 0.3em;
  margin: 0;
}
#banniere .banTexte span {
  color: #ff3c3c;
}

#banniere .banDescription {
  padding: 0 0.5em;
  font-size: 2em;
  letter-spacing: 2px;
  line-height: 1em;
}
@media screen and (max-width: 840px) {
  #banniere {font-size: 0.8em;}
}
@media screen and (max-width: 650px) {
  #banniere {font-size: 0.5em;}
}
@media screen and (max-width: 435px) {
  #banniere {font-size: 0.4em;}
  /*#banniere .banTexte {font-size: 6em;}*/
}
@media screen and (max-width: 360px) {
  /*#banniere {font-size: 0.4em;}*/
  #banniere .banTexte {font-size: 4em;}
  #banniere .banDescription {font-size: 2.5em;}
}



/**       Global sections       **/
section {
  padding-top: 2em;
}

section span {
  color: #ff3c3c;
}

section ul {
}
section li {
  padding: 0.2em 0;
}


.pictures {
  text-align: center;
}
.pictures img {
  display: block;
  margin: auto;
}
.pictures a {
  border: 1px solid #fff;
  margin: .6em 1.2em;
  display: inline-block;
}
.pictures a img {
}

.video {
  text-align: center;
  padding: 2em 0 0.5em;
}


/**       Footer       **/
footer {
  padding-top: 2em;
  text-align: center;
}

.logos {
  max-width: 600px;
  margin: auto;
}
.logos a {
  display: inline-block;
  vertical-align: middle;
  width: 32%;
  text-align: center;
  margin-bottom: 1em;
}
@media screen and (max-width: 460px) {
  .logos a {
    width: auto;
    display: block;
  }
}


/**       States        **/

.has-js #features {
  display: none;
  /*text-align: left;*/
}

.has-js #show-features-button {
  display: block;
  padding: 0.6em;
}
.has-js #show-features-button:hover,
.has-js #show-features-button:focus {
  outline: none;
  color: #ff3c3c;
}
